<div class="text-center mb-4">
		<button class="btn me-4"><a href="#up"class="text-decoration-none text-white p-3 fw-bold fs-5 rounded" style="background: #18bc9c!important;">Vers le haut</a></button>
</div>