{# <footer class="d-flex flex-row justify-content-around align-items-center bg-primary mt-5 sm-mb-4 " style="width: 100%; height: 3em; position: fixed; bottom: 0;"> #}
<footer class="footer_line">

<div>
		<a class="nav-link fs-5 footer_link footer_link1" href="{{ path('footer.legal_notice') }}" style="color: white;">Mentions légales</a>
	</div>

	<div class="footer-copyright text-center fs-5 footer_link2" style="color: white;">Copyright&copy2023IrynaG
</div>

	<div>
		<a class="nav-link fs-5 me-lg-4 footer_link footer_link3" href="{{ path('footer.privacy_policy') }}" style="color: white;">Politique de confidentialité</a>
	</div>

</footer>
