
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Demande de
			{{ applyApprovement.fullName }}</h1>
		<p>Email :
			{# {{ applyApprovement.email }}</p> #}
		<p>Sujet :
			{{ applyApprovement.subject }}</p>
		<p>Message :</p>
		<div>
			{# {{ applyApprovement.message|raw }} #}
		</div>
	</body>
</html>
